<div class="container">
    <h1>Welcome to Facility Booking</h1>

    <h3>View available facilities and time slots</h3>
    <h4><i>"Fetch available Facility and time slots here"</i></h4>
    <h3>View details of a facility and its time slots</h3>
    <h4><i>"Fetch facility image, name, and time slots here"</i></h4>
    
    <button routerLink="/login" class="admin-btn">Admin Login</button>
    <button routerLink="/user-login" class="user-btn">User Login</button>

    <p class="para"><i>Developed using <b>Angular</b> by <b>Daimler Benz.</b></i></p>
</div>